.main_container{
    height: auto;
    width: auto;
    border: 1px solid rgb(199, 24, 53);
    

}
.section1{
    height: auto;
    width: auto;
    border: 1px solid pink;
    margin: 20px;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.photo {
    height: 165px;
    width: 125px;
    border: 1px solid rgb(99, 5, 239);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
}
.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: inherit;
}
.box1{
    height: 175px;
    width: 550px;
    border: 1px solid red;
    padding: 10px 15px 10px 15px;
    display: flex;
    gap:10px
}
.intro{
    height: 145px;
    width: 325px;
    border: 1px solid rgb(99, 5, 239);
    margin-top: 5px;
    padding: 10px
}
.box2{
    height: 175px;
    width: 600px;
    border: 1px solid green;
    padding: 10px 15px 10px 15px;

}
.contactInfo{
    height: 155px;
    width: 580px;
    border: 1px solid green;
    padding: 10px;
}
.box3{
    height: 175px;
    width: 1200px;
    border: 1px solid green;
    padding: 10px 15px 10px 15px;
}
.section2{
    height: 100vh;
    width: 850px;
    border: 1px solid red;
    margin: 20px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.exp{
    flex: 1;
    width: 100%;
    border: 1px solid rgb(51, 176, 107);
    box-sizing: border-box;
}
.edu{
    flex: 1;
    width:100%;
    border: 1px solid rgb(51, 176, 107);
    box-sizing: border-box;
}
.section3{
    height: 96.5vh;
    width: 350px;
    border: 1px solid red;
    margin: 20px;
    padding: 15px 10px;
    margin-left: auto;
    position: relative;
    bottom: 1025px;

}